In [62]:
import pandas as pd
import ast
import numpy as np

In [120]:
data = pd.read_csv('data/target.csv')

data.set_index("CensusTract", inplace =True)

### HEALTHY FOODS

In [121]:
healthy = pd.read_csv('data/census_healthy1.csv',index_col='Unnamed: 0')

healthy['sentiment']=healthy['sentiment'].apply(ast.literal_eval)

healthy['comp']=healthy['sentiment'].apply(lambda x: x['compound'])

sub_healthy = healthy[['keyword','text','coords','lat','long','census','comp']]

sh_groupby = sub_healthy.groupby("census")

avg_sent = sh_groupby.mean()

joined_healthy = data.join(avg_sent)

joined_healthy[~joined_healthy['lat'].isnull()].groupby('LILATracts_1And10').mean()

                         lat       long      comp
LILATracts_1And10
0                  37.312872 -92.654379  0.294027
1                  36.167204 -90.754764  0.299744

### UNHEALTHY FOODS

In [122]:
unhealthy = pd.read_csv('data/census_unhealthy1.csv',index_col='Unnamed: 0')

unhealthy['sentiment']=unhealthy['sentiment'].apply(ast.literal_eval)

unhealthy['comp']=unhealthy['sentiment'].apply(lambda x: x['compound'])

sub_unhealthy = unhealthy[['keyword','text','coords','lat','long','census','comp']]

suh_groupby = sub_unhealthy.groupby("census")

avg_sent_uh = suh_groupby.mean()

joined_unhealthy = data.join(avg_sent_uh)

joined_unhealthy[~joined_unhealthy['lat'].isnull()].groupby('LILATracts_1And10').mean()

                         lat       long      comp
LILATracts_1And10
0                  37.331388 -92.855605  0.300909
1                  35.909347 -92.017618  0.334915

### GROCERY STORES

In [123]:
grocery = pd.read_csv("data/census_grocery1.csv",index_col='Unnamed: 0')

grocery['sentiment']=grocery['sentiment'].apply(ast.literal_eval)

grocery['comp']=grocery['sentiment'].apply(lambda x: x['compound'])

sub_grocery = grocery[['keyword','text','coords','lat','long','census','comp']]

grocery_groupby = sub_grocery.groupby("census")

avg_sent_grocery = grocery_groupby.mean()

joined_grocery = data.join(avg_sent_grocery)

joined_grocery[~joined_grocery['lat'].isnull()].groupby('LILATracts_1And10').mean()

                         lat        long      comp
LILATracts_1And10
0                  36.144861 -101.187810  0.233442
1                  36.828097 -102.679108  0.408850

### FAST FOODS

In [124]:
fastfood = pd.read_csv("data/census_fastfood1.csv",index_col='Unnamed: 0')

fastfood['sentiment']=fastfood['sentiment'].apply(ast.literal_eval)

fastfood['comp']=fastfood['sentiment'].apply(lambda x: x['compound'])

sub_fastfood = fastfood[['keyword','text','coords','lat','long','census','comp']]

fastfood_groupby = sub_fastfood.groupby("census")

avg_sent_fastfood = fastfood_groupby.mean()

joined_fastfood = data.join(avg_sent_fastfood)

joined_fastfood[~joined_fastfood['lat'].isnull()].groupby('LILATracts_1And10').mean()

                         lat       long      comp
LILATracts_1And10
0                  37.591433 -93.645818  0.321130
1                  37.352193 -93.893184  0.326516